@media screen and (max-width: 1200px) {
  #header .header__menu .header__menu_wrapp .header__menu_logo {
    width: 100%;
  }
  #header .header__menu .header__menu_wrapp .header__menu_main li a {
    font-size: 16px;
  }
  #header .header__menu .header__menu_wrapp .header__menu_input {
    width: 100%;
    font-size: 18px;
  }

  .about .about__collection .about__collection_head h2:before,
.about .about__collection .about__collection_head h2:after {
    width: 26%;
  }

  .features .features_head h2:before,
.features .features_head h2:after {
    width: 30%;
  }
  .features .features__list .features__list_item {
    width: 270px;
  }
}
@media screen and (max-width: 992px) {
  .header__bottom .header__bottom_images img {
    width: 100%;
  }

  .ino .ino_head h2:before,
.ino .ino_head h2:after {
    width: 40%;
  }
  .ino .ino_head_desc {
    width: 100%;
  }
  .ino .ino_bg {
    display: none;
  }

  .faq .faq_head h2:before,
.faq .faq_head h2:after {
    width: 40%;
  }

  .features .features_head h2:before,
.features .features_head h2:after {
    width: 26%;
  }
  .features .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .features .features__list .features__list_item {
    margin-bottom: 70px;
  }

  .about .about__collection .about__collection_head h2:before,
.about .about__collection .about__collection_head h2:after {
    width: 20%;
  }

  .about_launch .about_launch_head h2:before,
.about_launch .about_launch_head h2:after {
    width: 26%;
  }
  .about_launch .blure_green,
.about_launch .blure_blue {
    display: none;
  }
  .about_launch .about_launch_list .about_launch_item .about_launch_item-wrapp {
    margin-left: 30px;
  }
  .about_launch .about_launch_list .about_launch_item .about_launch_item-wrapp .date__launch {
    font-size: 22px;
    line-height: 17px;
  }
  .about_launch .about_launch_list .about_launch_item .about_launch_item-wrapp .about_launch_desc {
    font-size: 16px;
  }
  .about_launch .about_launch_list .about_launch_item .about_launch_item-box {
    width: 14px;
    height: 14px;
  }

  #header .header__bar .header__bar_left .header__bar_left-block a {
    font-size: 10px;
  }
  #header .header__bar .header__bar_right .header__bar_right-block a i {
    margin-right: 12px;
  }
  #header .header__menu .header__menu_wrapp .header__menu_main li a {
    font-size: 13px;
  }
  #header .header__menu .header__menu_wrapp .header__menu_input {
    font-size: 13px;
  }
  #header .header__menu .header__menu_wrapp .menu__shop_input {
    width: 100%;
    font-size: 13px;
  }

  #footer .footer__bar .footer__bar_copy p {
    font-size: 10px;
  }
  #footer .footer__bar .footer__bar_right .footer__bar_right-block a {
    font-size: 10px;
  }
}
@media screen and (max-width: 768px) {
  .features .features_head h2 {
    font-size: 16px;
  }
  .features .features__list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0;
  }
  .features .features__list .features__list_item {
    margin-bottom: 30px;
  }
  .features .features__list .features__list_item .features__list_item-images img {
    margin: 0 auto;
  }
  .features .features__list .features__list_item .features__list_item-images .features__list_item-box {
    -webkit-filter: blur(40px);
            filter: blur(40px);
    height: 100px;
    width: 100px;
  }
  .features .features__list .features__list_item .features__list_item-images-second .features__list_item-box {
    top: 75%;
    left: 40%;
  }
  .features .features__list .features__list_item .features__list_item-images-first .features__list_item-box {
    top: 75%;
    left: 40%;
  }
  .features .features__list .features__list_item .features__list_item-images-third .features__list_item-box {
    top: 75%;
    left: 40%;
  }

  .slick-dots li button:before {
    font-size: 15px;
    color: #2E3241;
  }

  .slick-dots li.slick-active button:before {
    color: #445EBD;
  }

  .about_launch {
    padding: 40px 0;
  }
  .about_launch .about_launch_head h2 {
    font-size: 16px;
  }
  .about_launch .about_launch_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_launch .about_launch_list .about_launch_item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #2D3145;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    padding: 24px;
    margin-top: 20px;
  }
  .about_launch .about_launch_list .about_launch_item .about_launch_item-box {
    width: 20px;
    height: 20px;
  }
  .about_launch .about_launch_list .about_launch_item .about_launch_item-wrapp {
    margin-left: 16px;
  }
  .about_launch .about_launch_list .about_launch_item .about_launch_item-wrapp .date__launch {
    font-size: 20px;
  }
  .about_launch .contact__launch {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .about_launch .contact__launch .contact__launch_social {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_launch .contact__launch .contact__launch_social a {
    margin: 0 0 20px 0;
  }

  .header__bottom .header__bottom_images img {
    display: none;
  }

  .about .about__collection {
    padding: 60px 0 50px;
  }
  .about .about__collection .about__collection_head h2 {
    font-size: 16px;
  }
  .about .about__collection .about__collection_images {
    margin-bottom: 50px;
  }
  .about .about__collection .about__collection_images img {
    width: 300px;
  }
  .about .about__collection__wrapp {
    margin-top: 30px;
  }
  .about .about__collection__wrapp .col-md-7.z-index {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
        -ms-flex-order: -2;
            order: -2;
  }

  .about__collection_list .about__collection_item .about__collection_item-block .top__item_absolute {
    left: 35%;
  }

  .ino {
    padding-bottom: 30px;
  }
  .ino .ino__list .ino__list_item {
    margin-bottom: 90px;
  }

  .faq .faq__accordeon .faq__how_many_head {
    padding: 5px 0;
  }
  .faq .faq__accordeon .faq__how_many_head p {
    font-size: 16px;
  }

  #header .header__bar {
    display: none;
  }
  #header .header__menu {
    display: none;
  }
  #header .header__menu .header__menu_wrapp .mobile__block_none {
    display: none;
  }
  #header .header__menu .header__menu_wrapp .header__menu_input {
    display: none;
  }
  #header .menu__button {
    display: block;
  }
  #header .menu__button .header__menu_logo {
    width: 100px;
  }

  #footer .footer__bar .footer__bar_right {
    margin-bottom: 24px;
  }
  #footer .footer__bar .footer__bar_right .footer__bar_right-block a {
    font-size: 14px;
  }
  #footer .footer__bar .footer__bar_copy p {
    font-size: 12px;
  }
  #footer .footer__bar .col-md-5.flex__mobile_order {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
  #footer .footer__bar .col-md-7.flex__mobile_order {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -2;
        -ms-flex-order: -2;
            order: -2;
  }
}
@media screen and (max-width: 576px) {
  .features .features__list .features__list_item .features__list_item-box {
    display: none;
  }

  .header__bottom {
    padding: 50px 0;
  }

  .ino .ino_head h2:before,
.ino .ino_head h2:after {
    width: 10%;
  }

  .about .about__collection .left_block_line {
    display: none;
  }

  .features .features_head h2:before,
.features .features_head h2:after {
    width: 10%;
  }

  .faq .faq_head h2:before,
.faq .faq_head h2:after {
    width: 20%;
  }

  .about_launch .about_launch_head h2:before,
.about_launch .about_launch_head h2:after {
    width: 10%;
  }
  .about_launch .left_block_line,
.about_launch .right_block_line_launch {
    display: none;
  }
  .about_launch .contact__launch .contact__launch_item .contact__launch_message {
    left: 20%;
    top: -35%;
  }
  .about_launch .contact__launch .contact__launch_item .contact__launch_message .contact__launch_message-images {
    width: 194px;
  }
  .about_launch .contact__launch .contact__launch_item .contact__launch_message .contact__launch_item-text p {
    font-size: 12px;
    line-height: 16px;
    width: 160px;
  }

  .about .about__collection .about__collection_head h2:before,
.about .about__collection .about__collection_head h2:after {
    width: 6%;
  }
  .about .about__collection .about__collection_images img {
    width: 200px;
  }
  .about .about__collection .about__collection_images .about__collection_bg {
    display: none;
  }

  .about__collection_list .about__collection_item .about__collection_item-block .top__item_absolute {
    left: 25%;
  }

  .faq .faq_bg-right-1,
.faq .faq_bg-right-2,
.faq .faq_left_block {
    display: none;
  }

  .header__bottom .header__bottom_text h1 {
    font-size: 22px;
  }
  .header__bottom .header__bottom_text p {
    font-size: 18px;
  }

  .features .square_bg-left,
.features .features_left_block,
.features .square_bg-right {
    display: none;
  }

  #footer .footer__bar .footer__bar_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  #footer .footer__bar .footer__bar_right .footer__bar_right-block {
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 350px) {
  .about_launch .contact__launch .contact__launch_item img {
    width: 100%;
  }
  .about_launch .contact__launch .contact__launch_item .contact__launch_message {
    left: 0%;
    top: -37%;
  }

  .container {
    width: 280px;
  }

  .about__collection_list .about__collection_item .about__collection_item-block .top__item_absolute {
    left: 13%;
  }
}