@charset "UTF-8";
@font-face {
  font-family: "FiraCode-Bold";
  font-display: swap;
  src: url("../fonts/FiraCode-Bold.woff") format("woff"), url("../fonts/FiraCode-Bold.woff2") format("woff2"), url("../fonts/FiraCode-Bold.eot") format("eot"), url("../fonts/FiraCode-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "FiraCode-Medium";
  font-display: swap;
  src: url("../fonts/FiraCode-Medium.woff") format("woff"), url("../fonts/FiraCode-Medium.woff2") format("woff2"), url("../fonts/FiraCode-Medium.eot") format("eot"), url("../fonts/FiraCode-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FiraCode-Regular";
  font-display: swap;
  src: url("../fonts/FiraCode-Regular.woff") format("woff"), url("../fonts/FiraCode-Regular.woff2") format("woff2"), url("../fonts/FiraCode-Regular.eot") format("eot"), url("../fonts/FiraCode-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FiraCode-Light";
  font-display: swap;
  src: url("../fonts/FiraCode-Light.woff") format("woff"), url("../fonts/FiraCode-Light.woff2") format("woff2"), url("../fonts/FiraCode-Light.eot") format("eot"), url("../fonts/FiraCode-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.eot") format("eot"), url("../fonts/Montserrat-Bold.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PressStart2P-Regular";
  font-display: swap;
  src: url("../fonts/PressStart2P-Regular.woff") format("woff"), url("../fonts/PressStart2P-Regular.woff2") format("woff2"), url("../fonts/PressStart2P-Regular.eot") format("eot"), url("../fonts/PressStart2P-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
body {
  padding: 0;
  color: #fff;
  letter-spacing: 0.02em;
  margin: 0;
  background: #1b1e2a;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
}

div,
p,
form,
input,
a,
span,
button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0;
  font-size: 15px;
}

ul,
li {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
}

h1 {
  font-size: 37.5px;
}

h2 {
  font-size: 22px;
  color: #c0cbdc;
  text-transform: none;
  line-height: 42px;
  text-align: center;
  position: relative;
}

h2 span {
  font-family: "PressStart2P-Regular";
}

h2:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30%;
  height: 1px;
  background: #c0cbdc;
}

h2:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 30%;
  height: 1px;
  /* ширина линии */
  background: #c0cbdc;
  /* цвет линии */
}

h3 {
  letter-spacing: 0;
}

h4 {
  font-size: 18.33px;
  letter-spacing: 0.02em;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

a,
button,
input {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active {
  outline: none;
}

i {
  margin-right: 17px;
  font-size: 18px;
  color: #999999;
}

.padding-none {
  padding: 0;
}

.align-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.pc__block {
  display: none;
}

.menu-open-tabs {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.menu-open {
  display: block !important;
}

.border-tabs {
  border: 1px solid #f9c866;
}

a[data-fancybox] img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.main__content.main__content_game .game__list_content.active {
  display: block;
}

.game__list_content {
  -webkit-animation: fadeEffect 1.3s;
          animation: fadeEffect 1.3s;
  /* Эффект затухания длится 1 секунду */
}

/* От нуля до полной непрозрачности */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.z-index {
  z-index: 99;
}

#header .header__bar {
  background: #2d3145;
  padding: 9px 0;
}
#header .header__bar .header__bar_left {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#header .header__bar .header__bar_left .header__bar_left-block {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .header__bar .header__bar_left .header__bar_left-block img {
  margin-right: 9px;
}
#header .header__bar .header__bar_left .header__bar_left-block a {
  color: #fff;
  font-size: 16px;
  text-decoration: underline;
  font-family: "FiraCode-Regular";
}
#header .header__bar .header__bar_right {
  text-align: right;
}
#header .header__bar .header__bar_right .header__bar_right-block a i {
  color: #fff;
  margin-right: 20px;
}
#header .menu__button {
  display: none;
  padding: 16px 0;
}
#header .menu__button .header__menu_mobile {
  text-align: right;
  display: block;
}
#header .menu__button .header__menu_mobile a {
  width: 44px;
  height: 44px;
  margin-left: auto;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #2d3145;
  -webkit-box-shadow: 0px 3px 24px rgba(35, 45, 84, 0.1);
          box-shadow: 0px 3px 24px rgba(35, 45, 84, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#header .menu__button .header__menu_mobile img {
  width: 20px;
}
#header .menu__button .row {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .header__menu {
  padding: 36px 0;
}
#header .header__menu .header__menu_wrapp {
  font-family: "FiraCode-Medium";
}
#header .header__menu .header__menu_wrapp .header__menu_main {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#header .header__menu .header__menu_wrapp .header__menu_main li {
  display: block;
  margin-right: 36px;
}
#header .header__menu .header__menu_wrapp .header__menu_main li a {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
}
#header .header__menu .header__menu_wrapp .header__menu_main li:hover > a {
  color: #F9C866;
}
#header .header__menu .header__menu_wrapp .header__menu_main li:last-child {
  margin-right: 0;
}
#header .header__menu .header__menu_wrapp .header__menu_mobile {
  display: none;
}

.menu__shop_input {
  font-family: "FiraCode-Bold";
  text-transform: uppercase;
  color: #c0cbdc;
  width: 190px;
  font-size: 16px;
  text-align: center;
  padding: 12px 0;
  background: transparent;
  position: relative;
  display: block;
  border: 2px solid #c0cbdc;
  margin-left: auto;
}

.menu__shop_input:hover {
  color: #232738;
  background: #c0cbdc;
}

.menu__shop_input:after {
  content: "";
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  background: #232738;
  border-right: 2px solid #c0cbdc;
  border-bottom: 2px solid #c0cbdc;
}

.menu__shop_input:before {
  content: "";
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  top: -webkit-calc(100% - 5px);
  top: calc(100% - 5px);
  left: -webkit-calc(100% - 5px);
  left: calc(100% - 5px);
  background: #232738;
  border-left: 2px solid #c0cbdc;
  border-top: 2px solid #c0cbdc;
}

.menu__shop_input-box:after {
  content: "";
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  top: -webkit-calc(100% - 5px);
  top: calc(100% - 5px);
  left: -2px;
  background: #232738;
  border-right: 2px solid #c0cbdc;
  border-top: 2px solid #c0cbdc;
}

.menu__shop_input-box:before {
  content: "";
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  top: -2px;
  left: -webkit-calc(100% - 5px);
  left: calc(100% - 5px);
  background: #232738;
  border-left: 2px solid #c0cbdc;
  border-bottom: 2px solid #c0cbdc;
}

.footer__bar {
  padding: 10px 0;
  background: #13151F;
}
.footer__bar .footer__bar_copy p {
  font-family: "FiraCode-Regular";
  font-size: 16px;
}
.footer__bar .footer__bar_right {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bar .footer__bar_right .footer__bar_right-block {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bar .footer__bar_right .footer__bar_right-block img {
  margin-right: 9px;
}
.footer__bar .footer__bar_right .footer__bar_right-block a {
  font-size: 16px;
  color: #fff;
  text-decoration: underline;
  font-family: "FiraCode-Regular";
}

.background__line {
  background: -webkit-gradient(linear, left top, right top, from(rgba(230, 92, 0, 0.3)), to(rgba(249, 212, 35, 0.3)));
  background: -o-linear-gradient(left, rgba(230, 92, 0, 0.3) 0%, rgba(249, 212, 35, 0.3) 100%);
  background: linear-gradient(90deg, rgba(230, 92, 0, 0.3) 0%, rgba(249, 212, 35, 0.3) 100%);
  opacity: 0.5;
  -webkit-filter: blur(160px);
          filter: blur(160px);
  width: 352px;
  height: 352px;
  position: absolute;
  top: -145px;
  z-index: -2;
  left: -145px;
}

.header__bottom {
  padding: 82px 0;
  background: url("../images/bg_header.png") no-repeat center center/cover;
  position: relative;
}
.header__bottom .header__bottom_flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__bottom .col-md-6 {
  z-index: 9;
}
.header__bottom .header__bottom_text {
  color: #FFFFFF;
}
.header__bottom .header__bottom_text h1 {
  font-family: "PressStart2P-Regular";
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 25px;
}
.header__bottom .header__bottom_text p {
  font-family: "FiraCode-Medium";
  font-size: 24px;
  line-height: 37px;
  margin-bottom: 60px;
}
.header__bottom .header__bottom_text a {
  display: block;
  text-align: center;
  padding: 16px 0;
  background: #F8736C;
  font-family: "FiraCode-Bold";
  width: 190px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-clip-path: polygon(0 11%, 3% 11%, 3% 0, 97% 0, 97% 11%, 100% 11%, 100% 89%, 97% 89%, 97% 100%, 3% 100%, 3% 91%, 0 91%);
          clip-path: polygon(0 11%, 3% 11%, 3% 0, 97% 0, 97% 11%, 100% 11%, 100% 89%, 97% 89%, 97% 100%, 3% 100%, 3% 91%, 0 91%);
}
.header__bottom .header__bottom_text a:hover {
  color: #F8736C;
  background: #fff;
}
.header__bottom .header__bottom_images {
  text-align: center;
}
.header__bottom .header__bottom_images img {
  border: 10px solid #F9C866;
  -webkit-filter: drop-shadow(0px 4px 193px rgba(68, 94, 189, 0.44));
          filter: drop-shadow(0px 4px 193px rgba(68, 94, 189, 0.44));
  -webkit-border-radius: 20px;
          border-radius: 20px;
}
.header__bottom .header__bottom_line {
  background: -webkit-gradient(linear, left top, left bottom, from(#1B1E2A), color-stop(92.28%, rgba(10, 12, 17, 0)));
  background: -o-linear-gradient(top, #1B1E2A 0%, rgba(10, 12, 17, 0) 92.28%);
  background: linear-gradient(180deg, #1B1E2A 0%, rgba(10, 12, 17, 0) 92.28%);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
      -ms-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  height: 277px;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.about__collection {
  background: url("../images/bg_collection.png") no-repeat center center/cover;
  padding: 80px 0 101px;
  position: relative;
}
.about__collection .about__collection_text h3 {
  font-family: "FiraCode-Bold";
  font-size: 32px;
  line-height: 37px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.about__collection .about__collection_text p {
  font-family: "FiraCode-Regular";
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.005em;
  color: #C0CBDC;
}
.about__collection .about__collection__wrapp {
  margin-top: 76px;
}
.about__collection .about__collection_images {
  text-align: center;
}
.about__collection .about__collection_images img {
  width: 415px;
  position: relative;
}
.about__collection .about__collection_images .about__collection_bg {
  background: -webkit-gradient(linear, left top, right top, from(rgba(230, 92, 0, 0.7)), to(rgba(249, 212, 35, 0.7)));
  background: -o-linear-gradient(left, rgba(230, 92, 0, 0.7) 0%, rgba(249, 212, 35, 0.7) 100%);
  background: linear-gradient(90deg, rgba(230, 92, 0, 0.7) 0%, rgba(249, 212, 35, 0.7) 100%);
  opacity: 0.5;
  -webkit-filter: blur(300px);
          filter: blur(300px);
  height: 300px;
  width: 300px;
  position: absolute;
  bottom: 0;
  left: 30%;
}
.about__collection .about__collection_line {
  background: -webkit-gradient(linear, left top, left bottom, from(#1B1E2A), color-stop(60.88%, rgba(31, 34, 46, 0.88)), to(rgba(32, 35, 47, 0)));
  background: -o-linear-gradient(top, #1B1E2A 0%, rgba(31, 34, 46, 0.88) 60.88%, rgba(32, 35, 47, 0) 100%);
  background: linear-gradient(180deg, #1B1E2A 0%, rgba(31, 34, 46, 0.88) 60.88%, rgba(32, 35, 47, 0) 100%);
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
      -ms-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  height: 151px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.about__collection .left_block_line {
  background: url("../images/left_block_line.png") no-repeat center center/cover;
  height: 75px;
  width: 48px;
  position: absolute;
  top: 35%;
  z-index: 9;
}

.about {
  position: relative;
}

.about__collection_list .z-index {
  margin-bottom: 30px;
}
.about__collection_list .about__collection_item {
  text-align: center;
  border: 5px solid #2D3145;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  height: 100%;
}
.about__collection_list .about__collection_item .about__collection_item-wrapp {
  padding: 24px 38px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-calc(100% - 34px);
  height: calc(100% - 34px);
}
.about__collection_list .about__collection_item img {
  width: 100%;
}
.about__collection_list .about__collection_item h4 {
  font-family: "PressStart2P-Regular";
  font-size: 24px;
  line-height: 14px;
  text-transform: uppercase;
  color: #F9C866;
  margin-bottom: 24px;
}
.about__collection_list .about__collection_item p {
  font-family: "FiraCode-Regular";
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 24px;
  border-top: 1px dashed #F9C866;
  margin-bottom: 50px;
}
.about__collection_list .about__collection_item .about__collection_item-block {
  border: 1px solid #F9C866;
  padding: 20px 0 11px;
  position: relative;
}
.about__collection_list .about__collection_item .about__collection_item-block .top__item_absolute {
  position: absolute;
  font-family: "FiraCode-Regular";
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.005em;
  color: #F9C866;
  background: #1B1E2A;
  top: -13px;
  left: 26%;
  width: 120px;
}
.about__collection_list .about__collection_item .about__collection_item-block span {
  font-family: "FiraCode-Bold";
  font-size: 30px;
  line-height: 17px;
  letter-spacing: 0.005em;
  color: #C0CBDC;
}
.about__collection_list .about__collection_item .about__collection_bg-bottom {
  background: url("../images/bg_items.png") no-repeat center center/cover;
  height: 34px;
  width: 100%;
}

.about_launch {
  padding: 100px 0 104px;
  position: relative;
}
.about_launch .left_block_line {
  background: url("../images/left_block_line.png") no-repeat center center/cover;
  height: 75px;
  width: 48px;
  position: absolute;
  top: 75%;
  z-index: 9;
}
.about_launch .blure_blue {
  background: -webkit-gradient(linear, left top, right top, from(rgba(68, 94, 189, 0.3)), color-stop(0.01%, rgba(68, 94, 189, 0.3)), to(rgba(136, 249, 242, 0.3)));
  background: -o-linear-gradient(left, rgba(68, 94, 189, 0.3) 0%, rgba(68, 94, 189, 0.3) 0.01%, rgba(136, 249, 242, 0.3) 100%);
  background: linear-gradient(90deg, rgba(68, 94, 189, 0.3) 0%, rgba(68, 94, 189, 0.3) 0.01%, rgba(136, 249, 242, 0.3) 100%);
  opacity: 0.5;
  -webkit-filter: blur(300px);
          filter: blur(300px);
  position: absolute;
  top: 60%;
  left: -10%;
  height: 343px;
  width: 343px;
}
.about_launch .right_block_line_launch {
  background: url("../images/right_block_line_launch.png") no-repeat center center/cover;
  height: 75px;
  width: 48px;
  position: absolute;
  top: 60%;
  left: -webkit-calc(100% - 48px);
  left: calc(100% - 48px);
  z-index: 9;
}
.about_launch .blure_green {
  background: -webkit-gradient(linear, left top, right top, from(rgba(230, 92, 0, 0.3)), color-stop(0.01%, rgba(0, 230, 23, 0.3)), to(rgba(35, 249, 249, 0.3)));
  background: -o-linear-gradient(left, rgba(230, 92, 0, 0.3) 0%, rgba(0, 230, 23, 0.3) 0.01%, rgba(35, 249, 249, 0.3) 100%);
  background: linear-gradient(90deg, rgba(230, 92, 0, 0.3) 0%, rgba(0, 230, 23, 0.3) 0.01%, rgba(35, 249, 249, 0.3) 100%);
  opacity: 0.5;
  -webkit-filter: blur(300px);
          filter: blur(300px);
  top: 40%;
  left: 90%;
  height: 343px;
  width: 343px;
  position: absolute;
}
.about_launch .about_launch_head h2:before,
.about_launch .about_launch_head h2:after {
  width: 35%;
}
.about_launch .about_launch_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.about_launch .about_launch_list .about_launch_item {
  color: #FFFFFF;
  margin-top: 70px;
}
.about_launch .about_launch_list .about_launch_item .about_launch_item-box {
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
  background: #F8736C;
  width: 24px;
  height: 24px;
}
.about_launch .about_launch_list .about_launch_item .about_launch_item-wrapp {
  margin-left: 44px;
}
.about_launch .about_launch_list .about_launch_item .about_launch_item-wrapp .date__launch {
  font-family: "FiraCode-Bold";
  font-size: 32px;
  line-height: 37px;
}
.about_launch .about_launch_list .about_launch_item .about_launch_item-wrapp .about_launch_desc {
  font-family: "FiraCode-Regular";
  font-size: 18px;
  line-height: 37px;
}
.about_launch .contact__launch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 112px;
}
.about_launch .contact__launch .contact__launch_item {
  position: relative;
}
.about_launch .contact__launch .contact__launch_item .contact__launch_message {
  position: absolute;
  left: 70%;
  top: -30%;
}
.about_launch .contact__launch .contact__launch_item .contact__launch_message .contact__launch_message-images {
  position: relative;
}
.about_launch .contact__launch .contact__launch_item .contact__launch_message .contact__launch_item-text p {
  width: 230px;
  font-family: "FiraCode-Medium";
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #313131;
  position: absolute;
  top: 12%;
  left: 11%;
}
.about_launch .contact__launch .contact__launch_social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 46px;
}
.about_launch .contact__launch .contact__launch_social a {
  margin-right: 20px;
}
.about_launch .contact__launch .contact__launch_social a i {
  width: 40px;
  height: 40px;
  font-size: 25px;
  margin: 0;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about_launch .contact__launch .contact__launch_social a .social_blue {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #445EBD;
}
.about_launch .contact__launch .contact__launch_social a .social_blue:hover {
  background: #fff;
  color: #445EBD;
}
.about_launch .contact__launch .contact__launch_social a .social_yellow {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #F9C866;
}
.about_launch .contact__launch .contact__launch_social a .social_yellow:hover {
  background: #fff;
  color: #F9C866;
}
.about_launch .contact__launch .contact__launch_social a .social_red {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: #F8736C;
}
.about_launch .contact__launch .contact__launch_social a .social_red:hover {
  background: #fff;
  color: #F8736C;
}

.features {
  position: relative;
}
.features .features_head h2:before,
.features .features_head h2:after {
  width: 35%;
}
.features .bg_features {
  background: url("../images/bg_features.png") no-repeat center center/cover;
  width: 100%;
  height: 411px;
  position: absolute;
  z-index: -1;
  bottom: 0;
}
.features .features_left_block {
  background: url("../images/features_left_block.png") no-repeat center center/cover;
  width: 36px;
  height: 112px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  top: 30%;
  left: 5%;
}
.features .square_bg-right {
  background: #F8736C;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 64%;
  left: 3%;
}
.features .square_bg-left {
  background: #F8736C;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 25%;
  right: 3%;
}
.features .features__list {
  padding-top: 80px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.features .features__list .features__list_item {
  width: 315px;
  text-align: center;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.features .features__list .features__list_item .features__list_item-images {
  margin-bottom: 60px;
  position: relative;
}
.features .features__list .features__list_item .features__list_item-images img {
  position: relative;
}
.features .features__list .features__list_item .features__list_item-images .features__list_item-box {
  background: rgba(249, 200, 102, 0.6);
  -webkit-filter: blur(50px);
          filter: blur(50px);
  height: 159px;
  width: 159px;
  position: absolute;
  z-index: -1;
}
.features .features__list .features__list_item .features__list_item-images-first {
  margin-bottom: 21px;
}
.features .features__list .features__list_item .features__list_item-images-first .features__list_item-box {
  top: 0;
  left: -38px;
}
.features .features__list .features__list_item .features__list_item-images-second .features__list_item-box {
  top: 0;
  left: -50px;
}
.features .features__list .features__list_item .features__list_item-images-third .features__list_item-box {
  top: 0;
  left: 0;
}
.features .features__list .features__list_item h4 {
  font-family: "PressStart2P-Regular";
  font-size: 24px;
  line-height: 14px;
  text-transform: uppercase;
  color: #F9C866;
  margin-bottom: 24px;
}
.features .features__list .features__list_item p {
  font-family: "FiraCode-Regular";
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 24px;
  border-top: 1px dashed #F9C866;
}

.ino {
  padding: 30px 0 130px;
  position: relative;
}
.ino .ino_head h2:before,
.ino .ino_head h2:after {
  width: 45%;
}
.ino .ino_bg {
  background: -webkit-gradient(linear, left top, right top, from(rgba(230, 92, 0, 0.3)), to(rgba(249, 212, 35, 0.3)));
  background: -o-linear-gradient(left, rgba(230, 92, 0, 0.3) 0%, rgba(249, 212, 35, 0.3) 100%);
  background: linear-gradient(90deg, rgba(230, 92, 0, 0.3) 0%, rgba(249, 212, 35, 0.3) 100%);
  opacity: 0.5;
  -webkit-filter: blur(300px);
          filter: blur(300px);
  width: 652px;
  height: 652px;
  position: absolute;
  right: -30%;
  top: 60%;
}
.ino .ino_head_desc {
  font-family: "FiraCode-Regular";
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #C0CBDC;
  width: 760px;
  margin: 50px auto 72px;
}
.ino .ino__list .ino__list_item .ino__list_item-box {
  width: 100%;
  background: #2D3145;
  height: 113px;
}
.ino .ino__list .ino__list_item-btn {
  display: block;
  text-align: center;
  padding: 16px 0;
  background: #F8736C;
  font-family: "FiraCode-Bold";
  width: 190px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 48px auto 0;
  -webkit-clip-path: polygon(0 11%, 3% 11%, 3% 0, 97% 0, 97% 11%, 100% 11%, 100% 89%, 97% 89%, 97% 100%, 3% 100%, 3% 91%, 0 91%);
          clip-path: polygon(0 11%, 3% 11%, 3% 0, 97% 0, 97% 11%, 100% 11%, 100% 89%, 97% 89%, 97% 100%, 3% 100%, 3% 91%, 0 91%);
}
.ino .ino__list .ino__list_item-btn:hover {
  background: #fff;
  color: #F8736C;
}

.faq {
  position: relative;
  padding: 0 0 112px;
}
.faq .faq_left_block {
  background: url("../images/features_left_block.png") no-repeat center center/cover;
  width: 36px;
  height: 112px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  top: 30%;
  right: 0;
  z-index: -1;
}
.faq .faq_bg-right-1 {
  background: #f8736c;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 7%;
  z-index: -1;
}
.faq .faq_bg-right-2 {
  background: #f8736c;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 63%;
  left: 4%;
  z-index: -1;
}
.faq .bg_faq {
  background: url("../images/bg_features.png") no-repeat center center/cover;
  width: 100%;
  height: 411px;
  position: absolute;
  z-index: -1;
  bottom: 0;
}
.faq .faq_head h2:before,
.faq .faq_head h2:after {
  width: 45%;
}
.faq .faq__accordeon {
  padding: 82px 0 0 0;
}
.faq .faq__accordeon .faq__how_many_head {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0;
}
.faq .faq__accordeon .faq__how_many_head p {
  font-family: "FiraCode-Bold";
  font-size: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 34px;
}
.faq .faq__accordeon .faq__how_many_head .faq__how_many_head-arrow {
  width: 15px;
  height: 15px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border-top: 3px solid #F9C866;
  border-right: 3px solid #F9C866;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.faq .faq__accordeon .transform__arrow .faq__how_many_head-arrow {
  -webkit-transform: rotate(315deg) !important;
      -ms-transform: rotate(315deg) !important;
          transform: rotate(315deg) !important;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.faq .faq__accordeon .faq__how_many_body {
  display: none;
  background: #232634;
  font-family: "FiraCode-Regular";
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.005em;
  color: #C0CBDC;
  padding: 20px;
  margin-bottom: 42px;
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
          animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes preloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes preloader-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}